.nav-wrapper {
	border-bottom: 10px solid #1c1c1c;
	padding: 0 35px;
}
.photo {
	width: 100%;
	height: 100%;
	overflow: hidden;

	position: relative;
}
.photo .photo__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.photo__orden {
	display: block;
	position: absolute;
	top: 60px;

	content: "";
	background-image: url("/img/orden2.png");
	background-repeat: no-repeat;

	z-index: 1;

	width: 100%;

	height: 200px !important;
	background-size: contain;

	background-position: center;
}
@media (max-width: 900px) {
	.photo .photo__orden {
		height: 150px;
	}
}

@media (max-width: 420px) {
	.photo .photo__orden {
		height: 100px;
	}
}
.nav {
	height: 130px;
	width: 100%;
	background: white;

	display: flex;
	justify-content: space-between;
}

.nav .nav__section {
	display: flex;
	flex-basis: 33.333%;
	height: 100%;
	align-items: center;
}

.nav .nav__section_1 {
	justify-content: space-around;
}

.nav .nav__section_2 {
	justify-content: center;
	& .nav__advert-header {
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		line-height: 46px;
		text-align: center;
		color: #DF650C;
	}
}

.nav .nav__section_3 {
	justify-content: flex-end;
}

.seartch-input {
	max-width: 280px;
	height: 45px;
	padding-left: 15px;
	position: relative;

	border: 2px solid #df650c;
	border-radius: 10px;

	overflow: hidden;

	display: flex;
}

.seartch-input .seartch-input__input {
	font-size: 20px;
	line-height: 23px;
	width: 83%;

	color: rgba(223, 101, 12, 0.5);
	border: none;
}

.seartch-input .seartch-input__button {
	background: url("/img/search.png");
	background-position: center;
	background-color: #df650c;
	background-repeat: no-repeat;

	width: 17%;
	max-width: 45px;
	height: 45px;

	border: none;
	outline: none;

	cursor: pointer;
}
.nav .nav__orden {
	position: relative;
	background: url("/img/orden.png");
	max-width: 400px;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: contain;
}

.nav .nav__orden:before {
	content: "1941";
	display: block;
	position: absolute;
	left: 40px;
	top: 20px;

	font-size: 45px;
	line-height: 52px;
	color: #000000;

	text-shadow: -0 -2px 0 #ffffff, 0 -2px 0 #ffffff, -0 2px 0 #ffffff,
		0 2px 0 #ffffff, -2px -0 0 #ffffff, 2px -0 0 #ffffff, -2px 0 0 #ffffff,
		2px 0 0 #ffffff, -1px -2px 0 #ffffff, 1px -2px 0 #ffffff, -1px 2px 0 #ffffff,
		1px 2px 0 #ffffff, -2px -1px 0 #ffffff, 2px -1px 0 #ffffff,
		-2px 1px 0 #ffffff, 2px 1px 0 #ffffff, -2px -2px 0 #ffffff,
		2px -2px 0 #ffffff, -2px 2px 0 #ffffff, 2px 2px 0 #ffffff,
		-2px -2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff,
		2px 2px 0 #ffffff;
}

.nav .nav__orden:after {
	content: "1945";
	display: block;
	position: absolute;
	right: 40px;
	top: 20px;

	font-size: 45px;
	line-height: 52px;
	color: #000000;

	text-shadow: -0 -2px 0 #ffffff, 0 -2px 0 #ffffff, -0 2px 0 #ffffff,
		0 2px 0 #ffffff, -2px -0 0 #ffffff, 2px -0 0 #ffffff, -2px 0 0 #ffffff,
		2px 0 0 #ffffff, -1px -2px 0 #ffffff, 1px -2px 0 #ffffff, -1px 2px 0 #ffffff,
		1px 2px 0 #ffffff, -2px -1px 0 #ffffff, 2px -1px 0 #ffffff,
		-2px 1px 0 #ffffff, 2px 1px 0 #ffffff, -2px -2px 0 #ffffff,
		2px -2px 0 #ffffff, -2px 2px 0 #ffffff, 2px 2px 0 #ffffff,
		-2px -2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff,
		2px 2px 0 #ffffff;
}

.lang-switcher {
	margin-right: 50px;
}

.lang-switcher .lang-switcher__lang {
	font-size: 40px;
	line-height: 46px;
	color: #232323;
	margin-right: 10px;
}

.lang-switcher .lang-switcher__lang_active {
	color: #df650c;
}

@media (max-width: 1366px) {
	.nav .nav__section_1 {
		flex-basis: 35%;
	}

	.nav .nav__section_2 {
		flex-basis: 40%;
	}

	.nav .nav__section_3 {
		flex-basis: 25%;
	}
}

@media (max-width: 1200px) {
	.nav .nav__flag {
		width: 100px;
	}

	.lang-switcher .lang-switcher__lang {
		font-size: 32px;
	}
}

@media (max-width: 1024px) {
	.nav .nav__flag {
		width: 100px;
	}
	.slider__gradient-overlay {
		font-size: 38px !important;
		span {
			width: 100% !important;
		}
	}

	.lang-switcher .lang-switcher__lang {
		font-size: 32px;
	}

	.nav .nav__section_1 {
		flex-basis: 35%;
	}

	.nav .nav__section_2 {
		flex-basis: 45%;
	}

	.nav .nav__section_3 {
		flex-basis: 20%;
	}

	.lang-switcher {
		margin-right: 5px;
	}

	.seartch-input .seartch-input__input {
		width: 80%;
	}

	.seartch-input .seartch-input__button {
		width: 21%;
	}

	.seartch-input {
		padding-left: 5px;
	}

	.seartch-input .seartch-input__input {
		font-size: 18px;
	}

	.nav .nav__orden {
		max-width: 300px;
	}

	.nav .nav__orden:before {
		font-size: 30px;
		left: 20px;
	}

	.nav .nav__orden:after {
		font-size: 30px;
		right: 20px;
	}

	.nav-wrapper {
		padding: 0 15px;
	}
}

@media (max-width: 900px) {
	.nav .nav__section_1 {
		flex-basis: 40%;
	}

	.nav .nav__section_2 {
		flex-basis: 40%;
	}

	.nav .nav__section_3 {
		flex-basis: 20%;
	}

	.lang-switcher .lang-switcher__lang {
		font-size: 24px;
	}
	.slider__gradient-overlay {
		font-size: 36px !important;
		span {
			width: 100% !important;
		}
	}
}

@media (max-width: 800px) {
	.nav {
		height: unset;
		width: 100%;
		background: white;
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
	}
	.slider__gradient-overlay {
		font-size: 26px !important;
		span {
			width: 100% !important;
		}
	}

	.nav .nav__section_2 {
		height: 100px;
		
	}

	.seartch-input {
		width: 100%;
		max-width: 100%;
	}

	.nav .nav__flag {
		position: absolute;
		top: 25px;
		left: 25px;
		width: 70px;
	}

	.nav .nav__section_1 {
		justify-content: center;
	}
	.nav .nav__city-header {
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		line-height: 57px;
	
		color: #DF650C;
	
		text-align: center;
	}
	
	.seartch-input .seartch-input__input {
		width: 100%;
	}

	.nav {
		padding: 20px 0;
	}
}
@media (max-width: 600px) {
	.slider__gradient-overlay {
		font-size: 22px !important;
	}
}
@media (max-width: 500px) {
	.slider__gradient-overlay {
		font-size: 18px !important;
	}
}
@media (max-width: 420px) {
	.maim-screen {
		height: 160vh;
	}

	.slider-buttons .slider-buttons__button {
		bottom: -50%;
	}

	.overlay .overlayMenu ul li a {
		font-size: 26px;
		padding: 3px 20px;
	}

	.overlay .overlayMenu {
		top: 14vh;
	}
	.slider__gradient-overlay {
		font-size: 16px !important;
	}
}
.navBurger {
	z-index: 101;
	cursor: pointer;
	background: #111;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-clip: content-box;
	width: 60px;
	height: 7px;
	border-top: 0.57 solid transparent;
	border-radius: 0.6vw;
	border-bottom: 0.57 solid transparent;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.navBurger:before,
.navBurger:after {
	content: "";
	position: absolute;
	background: #df650c;
	height: 7px;
	width: 60px;
	right: 0;
	border-radius: 0.26vw;
	will-change: rotate;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.navBurger:before {
	top: -12px;
	width: 100%;
}
.navBurger:after {
	bottom: -12px;
	width: 100%;
}
.navBurger.active {
	background: transparent;
	background-clip: content-box;
}
.navBurger.active:before {
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	top: 0;
	background: #eee;
	width: 110%;
}
.navBurger.active:after {
	bottom: 0;
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
	background: #eee;
	width: 110%;
}

.overlay {
	position: fixed;
	z-index: 100;
	background: rgba(28, 28, 28, 0.75);
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transform-origin: right top;
	transform-origin: right top;
	-webkit-transform: scale(0);
	transform: scale(0);
	visibility: hidden;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	overflow: hidden;
}
.overlay.open {
	opacity: 0.99;
	visibility: visible;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.overlay.open li {
	display: block;
	-webkit-animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5)
		forwards;
	animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
	-webkit-transform: rotate(-7deg);
	transform: rotate(-7deg);
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
}
.overlay.open li:nth-of-type(2) {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
.overlay.open li:nth-of-type(3) {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.overlay.open li:nth-of-type(4) {
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s;
}
.overlay.open li:nth-of-type(5) {
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}
.overlay.open li:nth-of-type(6) {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
.overlay.open li:nth-of-type(7) {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

.overlayMenu {
	position: absolute;
	text-align: right;
	right: 10vw;
	top: 25vh;
}
.overlayMenu ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: block;
	position: relative;

	height: 100%;
}
.overlayMenu ul li {
	display: block;
	position: relative;
	text-align: left;
	opacity: 0;
	width: 100%;
}
.overlayMenu ul li a {
	display: inline-block;
	color: #fff;
	font-family: "Exo 2", sans-serif;
	text-decoration: none;
	font-size: 30px;
	padding: 5px 20px;
	margin: 0;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.overlayMenu ul li a:hover,
.overlayMenu ul li a:active,
.overlayMenu ul li a:focus {
	-webkit-transform: translateX(1vw);
	transform: translateX(1vw);
	outline: 0.05 solid rgba(255, 255, 255, 0.3);
	background: rgba(255, 255, 255, 0.03);
}

.locked {
	overflow: hidden;
}

@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		left: 30px;
	}
	100% {
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		left: 30px;
	}
	100% {
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

.slider {
	width: 100%;
	height: 100%;

	overflow: hidden;
	position: relative;
	&.second {
		display: none;
	}
}

.slider .slick-slider {
	width: 100%;
	height: 100% !important;

	overflow: hidden;
	position: relative;
	/*.slick-list, .slick-track, div {
		height: 100% !important;
	}*/
}

.slick-slide .slider .slider__slide {
	height: 100%;
	width: 100%;

	object-fit: cover;
	background-position: center;
}
.slick-dots {
	position: absolute;
	bottom: 25px;
	z-index: 2;
	width: 100%;
	display: flex;
	justify-content: center;
	& li {
		width: 20px;
		height: 20px;

		border-radius: 50%;
		border: 2px solid white;
		background: grey;

		margin-right: 10px;
		cursor: pointer;
		& button {
			background: none !important;
			opacity: 0;
		}
		&.slick-active {
			background: #df650c;
			button {
				background: none;
				&::before {
					content: "";
				}
			}
		}
	}
}
.slider-buttons {
	position: absolute;
	bottom: 25px;
	z-index: 2;
	width: 100%;
	display: flex;
	justify-content: center;
}

.slider-buttons .slider-buttons__button {
	width: 20px;
	height: 20px;

	border-radius: 50%;
	border: 2px solid white;
	background: grey;

	margin-right: 10px;
	cursor: pointer;
}

.slider-buttons .slider-buttons__button:nth-last() {
	margin-right: 0;
}

.slider-buttons .slider-buttons__button_active {
	background: #df650c;
}

.slider .slider__gradient-overlay {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	z-index: 1;
	background: linear-gradient(
		180deg,
		rgba(223, 101, 12, 0.6) 0%,
		rgba(0, 0, 0, 0.5) 100%
	);
	color: #fff;
	display: flex;
	text-align: center;
	font-family: "Exo 2";
	font-size: 52px;
	font-weight: 500;
	justify-content: center;
	align-items: center;
	span {
		top: -100px;
		width: 75%;
		line-height: 2;
	}
}
